<!doctype html>
<html>
<head>
    <title>Авторизация</title>
    <link href="{{ url_for('static', filename='css/styles.css') }}" rel='stylesheet' type='text/css' />
</head>
<body class="main-form">
  <div id="root">
    <div class="login-page ">
      <div>
      <header><img class="logo" alt="SkyTrainer" src="{{ url_for('static', filename='images/logo.svg') }}"><h2>Войдите, чтобы продолжить</h2></header>
      {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
         <ul>
         {% for category, message in messages %}
            <li>{{ message }}</li>
         {% endfor %}
         </ul>
      {% endif %}
    {% endwith %}
      <form method="post" class="form1">
        <div>
          <label>
            <input class="input_login" placeholder="Email" name="username" type="text" required>
          </label>
        </div>
        <div>
          <label>
            <input class="input_login" placeholder="Пароль" type="password" name="password" required>
          </label>
        </div>
        <div>
            <button type="submit">Войти</button>
        </div>
        <div class="login_extra"><span><input type="checkbox" checked="" name="checkbox"> <span> Запомнить </span></span><span>
          <a href="{{ url_for('register') }}">Зарегистрироваться</a></span>
        </div>
      </form>
    </div>
  </div>
</div>

</body>
</html>
