html {height: 100%;}


body {
	   background:#fff;
      font-family: 'Open Sans', sans-serif;
    }
	
body.index {background: #F9F9F9}	

#main-content  {display:none}
#work  {font-transform: lowercase;}
  
  .site-container {
      box-sizing: border-box;
      text-align: center;
    }
.main_message {margin-bottom: 25px;
display: flex;
    align-content: center;
    align-items: baseline;
    justify-content: space-between;}

@media (min-width: 1200px) {
  .container {
    width: 952px;
	padding-bottom: 100px !important
  }
}
* {color: #354D6C;
}
 
 
  #mobile-message {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: white;
            z-index: 9999;
            text-align: center;
            padding-top: 20%;
            font-size: 24px;
        }
    #questionAudio {
      display: none;
    }
.top-logo {
    height: 60px;
}


/*   .site-container_block {
      margin-bottom: 2rem;
    } */
.round1{
    border-radius: 16px;
	}
  body.index h1 {text-align: center;}

  .login-container {
    max-width: 400px;
    margin: 100px auto;
  }


  h1{
    font-weight: 700;
    line-height: 68px;
    letter-spacing: 0px;
	font-size: 24px;
    }

  h2 {
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;

	margin-bottom: 10px;
    }
    header div {margin-bottom:48px}
	header.login-title	{font-size: 13px;}
	
	ol.short-intro {
    text-align: left;}
	
	ol.short-intro li{
    margin-bottom: 16px;}
	
  .input_login {
    background: #F7F7F7;
    height: 56px;
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 15px;
    border:none;
    font-weight: 400;
    font-size: 17px;
    line-height: 19px;
    letter-spacing: 0px;
    }
  .radio_wrap { background: #F7F7F7;
    height: 56px;
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 15px;
	margin-top: 8px;}
  .work_wrap{margin-top: 1.5rem;}
  
  
    button[type="submit"], .main-button{
    background: #FF7313;
    color:#fff;
    border-radius: 15px;
    height: 44px;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    padding: 0 30px;
    border: none;
    margin: 15px 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    }
	
	button[type="submit"]{width:100%;}
  
    button, .btn-login {
    height: 44px;
    padding: 0 30px;
  }
    button:disabled {
      background: none;
      color: #354d6c;
      border: 1px solid #354D6C;
	  opacity:50%;
  }

  .login_extra {
    display: flex;
    justify-content: space-between;
  }
  
  .register_extra{
    justify-content: center;
  }


  .logo {
    width:172px;
    margin-bottom: 32px;
  }

	.ani_gif {
	box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 16px;
	width: 100%;
	height: 260px;}
  video {
        width: 100%;
    height: 260px;
    border: 1px solid #ccc;
    border-radius: 16px;  }
	#videoStatus {    margin-top: 10px;}

  .main_header .logo {width:140px;}

  .main_header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
	margin-top:30px;
  }


    
  video#preview,
  video#recorded {
    background: #EDEDFC;
    border-radius: 8px;
    width: 100%;
}

.btn {background: #FF7313;
border: #FF7313;}
.btn:hover, .btn:active {
background: var(--Miscellaneous-Bar-border, #0000004D);
}



input[type="radio"]:checked,
input[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px; }
  
  .form-control_label {
  display: grid;
  grid-template-columns: 39px auto;

}
  
  input[type="checkbox"] {
	  -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    font: inherit;
    width: 30px;
    height: 30px;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    background: #FF7313;
	border-radius: 8px;
    display: grid;
    place-content: center;
  }

input[type="checkbox"]:before {
      content: "";
    width: 0.65em;
    height: 0.65em;
    -webkit-clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: bottom left;
    transition: 120ms transform ease-in-out;
    /* box-shadow: inset 1em 1em var(--form-control-color); */
    background-color: #fff;
}

input[type="checkbox"]:checked::before {
transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type=checkbox]:checked::before {
  transform: scale(1.3);
}

.input_login:focus-visible
 {outline: 1px solid #FFC7A4}


input[type="radio"]:checked + label,
input[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 32px;
  cursor: pointer;
  line-height: 23px;
  display: inline-block; }

input[type="radio"]:checked + label:before,
input[type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 24px;
  height: 24px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  background: #fff; }

input[type="radio"]:checked + label:after,
input[type="radio"]:not(:checked) + label:after {
  content: '';
  width: 16px;
  height: 16px;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease; }

input[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0); }

input[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1); }

.radio-primary {
  color: #ec8f6a; }

.radio-secondary {
  color: #8bbabb; }

.radio-tertiary {
  color: #e2c275; }

.radio-quarternary {
  color: #b96b9f; }

.radio-dark {
  color: #343a40; }

.radio-primary input[type="radio"]:checked + label:after {
  background: #ec8f6a;
  border-color: #ec8f6a; }

.radio-secondary input[type="radio"]:checked + label:after {
  background: #8bbabb;
  border-color: #8bbabb; }

.radio-tertiary input[type="radio"]:checked + label:after {
  background: #e2c275;
  border-color: #e2c275; }

.radio-quarternary input[type="radio"]:checked + label:after {
  background: #b96b9f;
  border-color: #b96b9f; }

.radio-dark input[type="radio"]:checked + label:after {
  background: #343a40;
  border-color: #343a40; }

.radio-primary input[type="radio"]:checked + label:before {
  border-color: #ec8f6a; }

.radio-secondary input[type="radio"]:checked + label:before {
  border-color: #8bbabb; }

.radio-tertiary input[type="radio"]:checked + label:before {
  border-color: #e2c275; }

.radio-quarternary input[type="radio"]:checked + label:before {
  border-color: #b96b9f; }

.radio-dark input[type="radio"]:checked + label:before {
  border-color: #343a40; }
  
  
  
.checkbox-wrap .checkbox-primary input[type="checkbox"]:checked:after {
  color: #ec8f6a; }

.checkbox-wrap .checkbox-secondary input[type="checkbox"]:checked:after {
  color: #8bbabb; }

.checkbox-wrap .checkbox-tertiary input[type="checkbox"]:checked:after {
  color: #e2c275; }

.checkbox-wrap .checkbox-quarternary input[type="checkbox"]:checked:after {
  color: #b96b9f; }

.checkbox-wrap .checkbox-dark input[type="checkbox"]:checked:after {
  color: #343a40; }

.checkbox-wrap .checkbox-primary {
  color: #ec8f6a; }

.checkbox-wrap .checkbox-secondary {
  color: #8bbabb; }

.checkbox-wrap .checkbox-tertiary {
  color: #e2c275; }

.checkbox-wrap .checkbox-quarternary {
  color: #b96b9f; }

.checkbox-wrap .checkbox-dark {
  color: #343a40; }

.checkbox-wrap .checkbox span {
  margin-left: 35px; }

./* checkbox-wrap .checkbox input[type=checkbox],
.checkbox-wrap input[type="checkbox"] {
  position: absolute;
  visibility: hidden;
  margin-top: 0;
  margin-left: 0; }
  .checkbox-wrap .checkbox input[type=checkbox]:disabled,
  .checkbox-wrap input[type="checkbox"]:disabled {
    opacity: 0.65; }

.checkbox-wrap input[type="checkbox"]:checked:after,
.checkbox-wrap input[type="checkbox"]:after {
  visibility: visible;
  font-family: 'Ionicons';
  display: inline-block;
  color: rgba(0, 0, 0, 0.2);
  line-height: 1;
  margin-top: 0; }
  .checkbox-wrap input[type="checkbox"]:checked:after:disabled,
  .checkbox-wrap input[type="checkbox"]:after:disabled {
    cursor: not-allowed;
    opacity: 0.65; }

.checkbox-wrap input[type="checkbox"]:checked:after {
  font-size: 30px;
  content: '\f148';
  line-height: .4;
  margin-top: 7px; }

.checkbox-wrap input[type="checkbox"]:after {
  font-size: 37px;
  content: '\f15c';
  line-height: .4;
  margin-top: 6px; } */
  
  .c7 {
    font-weight: 700;
}
    .recording {width: max-content; text-align: center; 
	    box-shadow: 0 0 10px rgb(0 0 0 / 5%);
		padding: 12px 16px;
    position: fixed;
    bottom: 24px;
    left: calc(50% - 192px);}
	#toggleRecording {background: url(../images/mic-mute.svg) center no-repeat;
    width: 78px;
    height: 78px;}
	#toggleRecording.isRecording {background-image: url(../images/mic.svg);}
	.recording-buttons {    display: flex;
    align-items: center;}
	
	
	.main-button2 {border:none;}
	#dinamic {background: url(../images/dinamic.svg) center no-repeat;}
	#repeat {background: url(../images/repeat.svg) center no-repeat;}
	#pause {background: url(../images/pause.svg) center no-repeat;}
	#messaging {background: url(../images/chat.svg) center no-repeat;}
	#sound {background: url(../images/Group.svg) center no-repeat;}
	
	.answer_wrap {    display: flex;
    align-content: center;
    align-items: center;
    gap: 20px;
    justify-content: flex-start;
	font-size: 1.7em;}
	
	#gifStatus, #videoStatus {color:#FF7313;}
	
	.orange-button {
   border: solid 1px #FF7313;
    border-radius: 8px;
    color: #FF7313;
    height: auto;
    font-size: 16px;
    padding: 6px 16px;
}
nav .orange-button {margin-bottom:0}

button.orange-button {    display: flex;
    background: #fff;
    align-items: center;}
.orange-text {color: #FF7313}	
button.orange-button img,
.orange-text img{margin: 0 5px}

.test-dialog	{border: solid 1px #E1E1E180; display: flex;
    flex-direction: column;}

.assistent_text, .user_text {background:#F0F0F0; font-size:17px; font-weight:600; width: fit-content;}
.assistent_text {border-radius:12px 12px 12px 0}
.user_text {border-radius:12px 12px 0 12px}


.table {border-collapse: inherit;}
.table>:not(caption)>*>*  {border-style:none;    vertical-align: middle;font-size: 17px;}

.table td{    border-radius: 16px;    height: 54px;text-transform: uppercase;font-weight: 700;    vertical-align: middle; font-size: 15px;

	}
.table td p {
    margin-top: 0;
    margin-bottom: 0;}