html {height: 100%;}
body.main-form {    
    background: url(../images/bg_wave.svg) bottom no-repeat;
    }
  
  .site-container {
      padding: 40px;
      background: #fff;
      border-radius: 24px;
      box-shadow: 0px 8px 32px 0px rgb(10 42 66 / 24%);
      box-sizing: border-box;
      text-align: center;
    }

  .site-container_block {
      margin-bottom: 2rem;
    }

  body.index h1 {text-align: left;}

  .login-container {
    max-width: 400px;
    margin: 100px auto;
  }

  h1, h2, h3 {
    font-family: Source Sans Pro;
  }
  h1{
    font-weight: 700;
    line-height: 68px;
    letter-spacing: 0px;
    }

  h2 {
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
    margin-bottom: 40px;
    }
    
  .input_login {
    background: #EDEDFC;
    height: 56px;
    width: 100%;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 8px;
    border:none;
    font-family: Source Sans Pro;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0px;
    }
  
    button[type="submit"], .btn-login, .main-button{
    background: #354d6c;
    color:#fff;
    border-radius: 40px;
    height: 44px;
    font-family: Source Sans Pro;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 24px;
    padding: 0 30px;
    border: none;
    margin: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    }
  
    button:disabled {
      background: none;
      color: #354d6c;
      border: solid;
  }

  .login_extra {
    display: flex;
    justify-content: space-between;
  }
  
  .register_extra{
    justify-content: center;
  }


  .logo {
    width:172px;
    margin-bottom: 30px ;
  }

  video {
    width: 100%;
    max-width: 640px;
    height: auto;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .main_header .logo {width:140px;}

  .main_header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  .wrap_videos {    display: flex;
    justify-content: center;
  }

    
  video#preview,
  video#recorded {
    background: #EDEDFC;
    border-radius: 8px;
    width: 100%;
}

  